@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(208,233,207,1) 0%, rgba(112,180,229,1) 100%, rgba(0,212,255,1) 100%);
}

body {
    overflow-x: hidden;
}